<!DOCTYPE html>
<html>
<head>
<title>CF Corp.</title>
<link rel="stylesheet" href="styles/main.css" type="text/css">
<script type="text/javascript" src="js/_navbar.js"></script>
</head>
<body>
  <header class="navigation" role="banner">
    <div class="navigation-wrapper">
      <a href="../" class="logo">
        <img src="assets/images/lifting-barbell.png" alt="Logo Image">
      </a>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link"><a href="javascript:void(0)">Pricing</a></li>
          <li class="nav-link"><a href="testimonials">Testimonials</a></li>
          <li class="nav-link"><a href="workouts">Workouts</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <h1 style="font-size:5em; text-align:center; margin-bottom:-0.5em;">Pricing</h1>


  <div class="hero">
    <div class="hero-content">
      <p>If you have to ask,</p>
      <p>You can't afford it</p>
      <div class="hero-trademark">
        <p> Trademarked by Cole Fit Corporation </p>
      </div>
    </div>
  </div>

</body>
</html>
