<!DOCTYPE html>
<html>
  <head>
    <title>CF Corp.</title>
    <link rel="stylesheet" href="../styles/main.css" type="text/css">
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/_navbar.js"></script>
  </head>
  <body>
    <header class="navigation" role="banner">
      <div class="navigation-wrapper">
        <a href="../" class="logo">
          <img src="assets/images/lifting-barbell.png" alt="Logo Image">
        </a>
        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
        <nav role="navigation">
          <ul id="js-navigation-menu" class="navigation-menu show">
            <li class="nav-link"><a href="pricing">Pricing</a></li>
            <li class="nav-link"><a href="testimonials">Testimonials</a></li>
            <li class="nav-link"><a href="workouts">Workouts</a></li>
            <li class="nav-link"><a href="javascript:void(0)">How this site is built</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container" style="text-align:center">
      <div class="row">
        <h1 class="page-title">How this site is built</h1>
      </div>
      <div class="container blog">
        <div class="row blog-section">
          Some visitors to ColeFitCorp.com may be interested in how this site has
          been built. On this page I aim to explain how the site works in addition
          to some key processes I followed when developing it.

          <br/>
          <br/>

          - Dan
        </div>
        <div class="row">
          <div class="blog-section">
            <div class="blog-section-header">
              System Architecture
            </div>
            On a high level, this web application runs on several servers owned
            and operated by Amazon Web Services (AWS for short).
            <br/>
            This website can be broken up into three logical components. They
            are:
            <br/>
            <ul>
              <li><b>The User Interface</b>. This is the component you are looking
                at right now. It supplies the static content of the site. Static
                content can be thought of as content that doesn't change. It
                is the same for every user who visits the site and does not have
                to be computed in the background.
              </li>
              <li><b>The Workout Service</b>. This component operates
                the colefitcorp.com/workouts page behind the scenes. At this point,
                it is responsible for receiving submitted workouts and responding
                to requests for these submitted workouts. However, this functionality
                could be extended if I have the time and will to do so.
              </li>
              <li><b>The Database</b>. This is where the submited workouts are
                stored. As it is currently the sole source of truth for the list
                of workouts, it is imperative that the database be highly available
                and reliable.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
