<!DOCTYPE html>
<html>
<head>
<title>CF Corp.</title>
<link rel="stylesheet" href="../styles/main.css" type="text/css">
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="js/_navbar.js"></script>
</head>
<body>
  <header class="navigation" role="banner">
    <div class="navigation-wrapper">
      <a href="../" class="logo">
        <img src="assets/images/lifting-barbell.png" alt="Logo Image">
      </a>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link"><a href="javascript:void(0)">Pricing</a></li>
          <li class="nav-link"><a href="testimonials">Testimonials</a></li>
          <li class="nav-link"><a href="workouts">Workouts</a></li>
          <li class="nav-link"><a href="how-this-site-is-built">How this site is built</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container" style="text-align:center">
    <div class="row">
      <h1 class="page-title">Pricing</h1>
    </div>
    <div class="row">
      <div class="hero">
        <div class="hero-content">
          If you have to ask, <br/>
          You can't afford it
          <div class="hero-trademark">
            <p> Trademarked by Cole Fit Corporation </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
