<!DOCTYPE html>
<html>
<head>
<title>CF Corp.</title>
<link rel="stylesheet" href="../styles/main.css" type="text/css">
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="../js/_navbar.js"></script>
</head>
<body>
  <header class="navigation" role="banner">
    <div class="navigation-wrapper">
      <a href="../" class="logo">
        <img src="../assets/images/lifting-barbell.png" alt="Logo Image">
      </a>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link active"><a href="pricing">Pricing</a></li>
          <li class="nav-link"><a href="javascript:void(0)">Testimonials</a></li>
          <li class="nav-link"><a href="workouts">Workouts</a></li>
          <li class="nav-link"><a href="how-this-site-is-built">How this site is built</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container" style="text-align:center">
    <div class="row">
      <h1 class="page-title">Testimonials</h1>
    </div>
    <div class="row testimonial">
      <div class="side-image">
        <div id="katie"></div>
          <div class="side-image-content">
            <h1>Katie Lutton</h1>
            <p>
               When I first heard about ColeFit, I was skeptical. Yes, founder and
               CEO Cole Jackob was pretty fit, but it was obviously just genetics.
               What could he teach me about working out? And what did ColeFit offer
               that all the other fitness programs didn't, except for exorbitant fees
               and a Byzantine membership tier structure? I'm now here to say that
               ColeFit changed my life. I used to be weak and puny, barely able to
               bench press my own body weight. Actually still can't do that. But with
               ColeFit, my protein smoothie consumption has grown exponentially, and
               I've finally kicked my terrible habit of sleeping in till a reasonable
               hour. Don't be put off by the creep in ColeFit Legal; the rest of the
               staff is good looking and a pleasure to work with. I also tried the
               ColeFit Travel package to stay in shape while in Puerto Rico.
               It's pricey, but with full days of hiking, surfing, snorkeling, and
               beach workouts, it's definitely worth it. Overall, 10/10, would
               recommend ColeFit to a friend (if I had any friends who weren't already
               doing ColeFit).
             </p>
        </div>
      </div>
      <div class="side-image">
        <div id="kevin"></div>
          <div class="side-image-content">
            <h1>Kevin Leimkuhler</h1>
            <p>
              Ask any kid these days what they want to be when they grow up and
              you'll get the same cookie cutter answers: I want to be Batman, I want
              to be a firefighter, I want to be a doctor, I want to be Rich Fairbank.
              From the moment I emerged from the womb, I had my answer tattooed across
              my chest; I want to be Cole Fit. Every day I wake up it's my primary
              goal. I train day and night so that one day I can be blessed by the
              guidance and sheer determination of a Cole Fit workout. It has shaped
              my average daily life into that of a nomad, a glorious fit nomad. I
              travel from place to place in my soul, chipping away at my weaknesses
              and becoming Cole Fit.
            </p>
        </div>
      </div>
      <div class="side-image">
        <div id="mike">
        </div>
          <div class="side-image-content">
            <h1>Mike Flaherty</h1>
            <p>
              1. Doing Cole Fit makes you feel like a zebra crossing the Nile #nearfatal
              <br/>
              2. Doing Cole Fit is like eating a turnip from Cole's farm...it tastes
              worse the more you chew #turnitup
            </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
