<!DOCTYPE html>
<html>
<head>
<title>CF Corp.</title>
<link rel="stylesheet" href="../styles/main.css" type="text/css">
<script type="text/javascript" src="../js/_navbar.js"></script>
</head>
<body>
  <header class="navigation" role="banner">
    <div class="navigation-wrapper">
      <a href="../" class="logo">
        <img src="../assets/images/lifting-barbell.png" alt="Logo Image">
      </a>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link active"><a href="pricing">Pricing</a></li>
          <li class="nav-link"><a href="javascript:void(0)">Testimonials</a></li>
          <li class="nav-link"><a href="workouts">Workouts</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <h1 style="font-size:5em; text-align:center">Testimonials</h1>

  <div class="side-image">
    <div class="images-wrapper"></div>
      <div class="side-image-content">
        <h1>Katie Lutton</h1>
        <p>blah blah blah</p>
    </div>
  </div>
  <div class="side-image">
    <div class="images-wrapper"></div>
      <div class="side-image-content">
        <h1>Mike Flaherty</h1>
        <p>blah blah blah</p>
    </div>
  </div>
  <div class="side-image">
    <div class="images-wrapper"></div>
      <div class="side-image-content">
        <h1>Kevin Leimkuhler</h1>
        <p>blah blah blah</p>
    </div>
  </div>
</body>

</html>
