@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@font-face {
  font-family: 'impacted';
  src: url("../assets/fonts/Impacted2.0.ttf") format("truetype"); }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

header.navigation {
  font-family: 'impacted';
  background-color: #333;
  border-bottom: 1px solid #1a1a1a;
  min-height: 60px;
  width: 100%;
  z-index: 999; }
  header.navigation .navigation-wrapper {
    position: relative;
    z-index: 9999; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em;
    padding-top: 0.2em; }
    header.navigation .logo img {
      max-height: 62px;
      padding: 0.8em 0; }
  header.navigation .navigation-menu-button {
    color: white;
    display: block;
    float: right;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: rgba(255, 255, 255, 0.7); }
  header.navigation nav {
    float: right;
    min-height: 60px;
    z-index: 9999999; }
    @media screen and (min-width: 53.75em) {
      header.navigation nav {
        float: right; } }
  header.navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    header.navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.nav-link {
    background: #333;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li.nav-link a {
      padding-top: 0.1em;
      color: white;
      display: inline-block;
      text-decoration: none;
      letter-spacing: 3px;
      font-size: 1.8em; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: rgba(255, 255, 255, 0.7); }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    header.navigation li.more.nav-link > a::after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: white;
      content: "\25BE"; }
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    header.navigation li.more a {
      padding-right: 0.8em; }
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        header.navigation li.more > a {
          margin-right: 1em; } }
      header.navigation li.more > a::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    header.navigation li.more:focus > .submenu,
    header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more {
        padding-right: 0.8em;
        position: relative; } }
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu.fly-out-right {
        left: 11.8em;
        top: 0; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu.fly-out-left {
        left: -11.8em;
        top: 0; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul.submenu li {
          line-height: 46.15385px; }
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      header.navigation ul.submenu li a {
        background-color: #2b2b2b;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          header.navigation ul.submenu li a {
            background-color: #333;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  header.navigation .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: 60px; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-tools {
        background: transparent;
        clear: none;
        float: right; } }

.hero {
  font-family: 'impacted';
  align-items: center;
  background: image-url("background-image.png");
  background-position: right;
  background-size: none;
  display: flex;
  justify-content: center;
  min-height: 25em;
  float: left; }
  @media screen and (min-width: 50em) {
    .hero {
      background-position: left;
      background-size: cover;
      justify-content: flex-end; } }
  .hero .hero-content {
    padding-top: 0.4em;
    max-width: 20em;
    text-align: center;
    font-size: 6em; }
    .hero .hero-content .hero-slogan p {
      float: right;
      padding-right: 1em;
      font-size: 0.2em; }
    .hero .hero-content .hero-trademark {
      padding-top: 3em; }
  .hero .hero-logo {
    margin: auto; }

.side-image {
  font-family: 'impacted';
  background: #F9F9F9;
  padding-top: 2em; }
  @media screen and (min-width: 53.75em) {
    .side-image {
      display: table;
      width: 100%;
      table-layout: fixed; } }
  .side-image #mike {
    background: url("../assets/images/mike.jpeg");
    background-size: cover;
    border-bottom: 1px solid rgba(38, 74, 38, 0.2);
    display: block;
    min-height: 12em;
    padding: 3em; }
    @media screen and (min-width: 53.75em) {
      .side-image #mike {
        display: table-cell;
        width: 33.33333%;
        background-position: bottom;
        background-size: cover;
        border-right: 1px solid rgba(38, 74, 38, 0.2); } }
  .side-image #kevin {
    background: url("../assets/images/kevin.jpeg");
    background-size: cover;
    border-bottom: 1px solid rgba(38, 74, 38, 0.2);
    display: block;
    min-height: 12em;
    padding: 3em; }
    @media screen and (min-width: 53.75em) {
      .side-image #kevin {
        display: table-cell;
        width: 33.33333%;
        background-position: bottom;
        background-size: cover;
        border-right: 1px solid rgba(38, 74, 38, 0.2); } }
  .side-image #katie {
    background: url("../assets/images/katie.jpeg");
    background-size: cover;
    border-bottom: 1px solid rgba(38, 74, 38, 0.2);
    display: block;
    min-height: 12em;
    padding: 3em; }
    @media screen and (min-width: 53.75em) {
      .side-image #katie {
        display: table-cell;
        width: 33.33333%;
        background-position: bottom;
        background-size: cover;
        border-right: 1px solid rgba(38, 74, 38, 0.2); } }
  .side-image .side-image-content {
    font-family: 'impacted';
    display: table-cell;
    width: 100%;
    padding: 1em 1em 4em 1em; }
    @media screen and (min-width: 53.75em) {
      .side-image .side-image-content {
        display: table-cell;
        width: 66.66667%;
        padding: 4em 4em 8em 4em; } }
    .side-image .side-image-content h1 {
      margin-bottom: 0.9em; }
    .side-image .side-image-content h4 {
      background: #BBB;
      color: white;
      display: inline-block;
      font-size: 0.75em;
      margin-bottom: 1.3em;
      padding: 3px 8px;
      text-transform: uppercase; }
    .side-image .side-image-content p {
      color: #333;
      line-height: 1.5em;
      margin-bottom: 3em; }

.grid-items {
  font-family: 'impacted'; }
  .grid-items::after {
    clear: both;
    content: "";
    display: table; }
  .grid-items .grid-item {
    background: #6b83a6;
    border-bottom: 9px solid white;
    border-left: 4.5px solid white;
    border-right: 4.5px solid white;
    border-top: 0;
    cursor: pointer;
    float: left;
    height: auto;
    outline: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 100%; }
    @media screen and (min-width: 53.75em) {
      .grid-items .grid-item {
        width: 50%; } }
    .grid-items .grid-item:nth-child(1) {
      background-color: #6b83a6;
      box-shadow: inset 0 0 1px 2px #536a8b; }
      .grid-items .grid-item:nth-child(1):focus, .grid-items .grid-item:nth-child(1):hover {
        background-color: #536a8b;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; }
    .grid-items .grid-item:nth-child(2) {
      background-color: #3581A5;
      box-shadow: inset 0 0 1px 2px #29637e; }
      .grid-items .grid-item:nth-child(2):focus, .grid-items .grid-item:nth-child(2):hover {
        background-color: #29637e;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; }
    .grid-items .grid-item:nth-child(3) {
      background-color: #5FBEBE;
      box-shadow: inset 0 0 1px 2px #44a6a6; }
      .grid-items .grid-item:nth-child(3):focus, .grid-items .grid-item:nth-child(3):hover {
        background-color: #44a6a6;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; }
    .grid-items .grid-item:nth-child(4) {
      background-color: #98C79A;
      box-shadow: inset 0 0 1px 2px #77b57a; }
      .grid-items .grid-item:nth-child(4):focus, .grid-items .grid-item:nth-child(4):hover {
        background-color: #77b57a;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; }
    .grid-items .grid-item:nth-child(5) {
      background-color: #A7A891;
      box-shadow: inset 0 0 1px 2px #909175; }
      .grid-items .grid-item:nth-child(5):focus, .grid-items .grid-item:nth-child(5):hover {
        background-color: #909175;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; }
    .grid-items .grid-item:nth-child(6) {
      background-color: #BDCC97;
      box-shadow: inset 0 0 1px 2px #a7bb75; }
      .grid-items .grid-item:nth-child(6):focus, .grid-items .grid-item:nth-child(6):hover {
        background-color: #a7bb75;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; }
    .grid-items .grid-item:nth-child(7) {
      background-color: #979EA0;
      box-shadow: inset 0 0 1px 2px #7c8588; }
      .grid-items .grid-item:nth-child(7):focus, .grid-items .grid-item:nth-child(7):hover {
        background-color: #7c8588;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; }
  .grid-items .grid-item img {
    display: block;
    height: 3em;
    margin: 0 auto 1em; }
  .grid-items .grid-item h5 {
    margin-top: 0.2em;
    font-family: 'impacted';
    letter-spacing: 2px;
    color: black;
    font-size: 3em;
    margin-bottom: 0.4em; }
  .grid-items .grid-item p {
    font-family: 'impacted';
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5em;
    font-size: 1.8em;
    margin: auto; }
    @media screen and (min-width: 40em) {
      .grid-items .grid-item p {
        max-width: 70%; } }
  @media screen and (min-width: 53.75em) {
    .grid-items .grid-item-big {
      width: 100%; } }
  @media screen and (min-width: 40em) {
    .grid-items .grid-item-big p {
      max-width: 60%; } }
  .grid-items .grid-item-image {
    background: url("https:\a//raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
    background-color: #6b83a6;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; }

h1.page-title {
  font-family: 'impacted';
  font-size: 7em;
  margin-top: 0.2em;
  text-decoration: underline; }

.row.testimonial {
  text-align: left; }
