.hero {
  $large-screen: 50em !default;
  align-items: center;
  background: image-url("background-image.png");
  background-position: right;
  background-size: none;
  display: flex;
  justify-content: center;
  min-height: 25em;
  float: left;


  @include media($large-screen) {
    background-position: left;
    background-size: cover;
    justify-content: flex-end;
  }

  .hero-content {
    padding-top: 0.4em;
    max-width: 20em;
    text-align: center;
    font-size: 6em;

    .hero-slogan {

      p {
        float: right;
        padding-right: 1em;
        font-size: 0.2em;
      }

    }

    .hero-trademark {
      padding-top: 3em;
    }
  }

  .hero-logo {
    margin: auto;
  }
}
