@font-face {
   font-family: 'impacted';
   src: url("../assets/fonts/Impacted2.0.ttf") format("truetype");
}

@import 'bourbon';
@import 'neat';
@import 'header';
@import 'hero_unit';
@import 'side_image';
@import 'grid_items';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

h1.page-title {
  font-family: 'impacted';
  font-size: 7em;
  margin-top: 0.2em;
  text-decoration: underline;
}

.row.testimonial {
  text-align:left;
}

* {
  -webkit-font-smoothing: antialiased;
}
